html, body
{
    min-height: 100%;
}
body
{
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}
footer.a
{
    position: relative;
    bottom: 0;
    background-color: #F7D002;
    color: black;
    width: 100%;
    height: 50px;    
    line-height: 50px;
}
div.b
{
    text-align: right;
}
header
{
    background-color: #272624;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1
{
    color: #F7D002;
    margin-bottom: 20px;
}
header > p
{
    color: #F7D002;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}