div.a
{
    text-align: center;  
}
html, body
{
    min-height: 100%;
}
body
{
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}
        
footer 
{
    position: absolute;
    bottom: 0;
    background-color: #F7D002;
    color: black;
    width: 100%;
    height: 50px;    
    line-height: 50px;
}
footer.a
{
    position: relative;
    bottom: 0;
    background-color: #F7D002;
    color: black;
    width: 100%;
    height: 50px;    
    line-height: 50px;
}
div.b
{
    text-align: right;
}